<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto">DH - HEROES</h2>

        <div class="contenedor-heroes">
            <div class="heroe">
                <img src="img/charles_babbage.jpg" alt="Babbage">
                <div class="contenido-heroe">
                    <h3>Charles Babbage</h3>
                    <p><b>Charles Babbage (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de
                            octubre de 1871) fue un matemático y científico de la computación británico.​</b></p>
                    <a href="babbage" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>

            <div class="heroe">
                <img src="img/Tim_Berners-Lee.jpg" alt="Berners-Lee">
                <div class="contenido-heroe">
                    <h3>Tim Berners-Lee</h3>
                    <p><b>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim
                            Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la
                            World Wide Web.</b></p>

                    <a href="berners-lee" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>

            <div class="heroe">
                <img src="img/clarke.jpg" alt="Clarke">
                <div class="contenido-heroe">
                    <h3>Edith Clarke</h3>
                    <p><b>Edith Clarke (Condado de Howard (Maryland)Howard, 10 de febrero de 1883 – Maryland, 29 de
                            octubre de 1959) fue la primera ingeniera eléctrica estadounidense y la primera profesora de
                            ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos).​</b></p>
                    <a href="clarke" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>

            <div class="heroe">
                <img src="img/Margaret_Hamilton_1995.jpg" alt="Hamilton">
                <div class="contenido-heroe">
                    <h3>Margaret Hamilton</h3>
                    <p><b>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del
                            MIT,​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa
                            Espacial Apolo.​ </b></p>

                    <a href="hamilton" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>

            <div class="heroe">
                <img src="img/hopper.jpg" alt="hopper">
                <div class="contenido-heroe">
                    <h3>Grace Murray Hopper</h3>
                    <p><b>Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de
                            1992) fue una científica de la computación y militar estadounidense con grado de
                            contraalmirante.</b></p>

                    <a href="hopper" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>

            <div class="heroe">
                <img src="img/ada-lovelace-.jpg" alt="ada-lovelace-">
                <div class="contenido-heroe">
                    <h3>Ada Lovelace</h3>
                    <p><b>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre
                            de 1852) fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca
                            de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</b>
                    </p>

                    <a href="lovelace" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>

            <div class="heroe">
                <img src="img/Alan_Turing_Aged_16.jpg" alt="Alan_Turing_Aged_16">
                <div class="contenido-heroe">
                    <h3>Alan Turing</h3>
                    <p><b>(Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de junio de 1954), fue un
                            matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano
                            y corredor de ultradistancia británico.</b></p>

                    <a href="turing" class="boton boton-azul d-block">Leer más</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>